/** Bootstrap Icons **/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

#article-list {
  height: 100vh;
}

i {
  cursor: pointer;
}

li > button:hover {
  box-shadow: 1px 1px 1px 1px rgb(183, 183, 183);
  transition: all 0.4s ease;
}

p {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  margin-left: 3px;
}

h1 {
  font-size: 80px;
  text-shadow: 2px 2px 8px black;
  color: white;
}
