/** Bootstrap Icons **/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

#article-list {
  height: 100vh;
}

i {
  cursor: pointer;
}

p {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  margin-left: 3px;
}
